# flyctl launch added from .gitignore
**/*/*.beam
**/*/*.ez
**/*/build
**/*/erl_crash.dump
client/src/env.gleam

# flyctl launch added from shared/.gitignore
common/**/*.beam
common/**/*.ez
common/build
common/**/erl_crash.dump
server/priv
fly.toml
