# flyctl launch added from .gitignore
**/*/*.beam
**/*/*.ez
**/*/build
**/*/erl_crash.dump
client/src/env.gleam

# flyctl launch added from shared/.gitignore
shared/**/*.beam
shared/**/*.ez
shared/build
shared/**/erl_crash.dump
server/priv
fly.toml
